{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-2">
                <h4>Set New Password</h4>
                </div>
                <form action="{% url 'set-new-password' uidb64 token %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html'%}
                    <div class="form-group my-3">
                    <input type="password" name="password" id="passwordField" class="form-control form-control-sm" placeholder="Password"/>
                    <small class="float-end py-2 showPasswordToggle" data-target="passwordField">SHOW</small>
                    </div>

                    <div class="form-group my-3">
                    <input type="password" name="confirm_password" id="confirmPasswordField" class="form-control form-control-sm" placeholder="Confirm Password"/>
                    <small class="float-end py-2 showPasswordToggle" data-target="confirmPasswordField">SHOW</small>
                    </div>
                    <input type="submit" value="Set New Password" class="btn btn-block btn-primary w-100 submit-btn" />
                </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <span>Already have an account?</span>
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span>Don't have an account?</span>
                        <a href="{% url 'register' %}">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}